.tsp-canvas-wrapper{
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.tsp-canvas {
    -fx-border-color: #aaa;
    -fx-border-width: 1px;

}



.control-buttons-hbox Button {
  -fx-min-width: 100;
}
